.btn-plantilla{
    background: #2db8eb;
    color: white;
}

.btn-plantilla2{
    background: #fc8d44;
    color: white;
    margin-left: 10px;
}


.htitle{
    color: #2d3235 ;
    margin-top: 70px;
}

.formContra{
    background-color: white;
    padding: 20px;
    margin-left: 25%;
    width: 50%;
}