.btn-plantilla{
    background: #2db8eb;
    color: white;
}

.btn-plantilla2{
    background: #fc8d44;
    color: white;
    margin-left: 10px;
}


.htitle{
    color: #2d3235 ;
    margin-top: 70px;
}

.encabezado{
    background: #002142;
    color: white;
}

.btn-horario{
    background: #3c8dbc;
    color: white;
}

.btn-vaca{
    background: #fc8d44;
    color: white;
}

.btn-delete{
    background: #dd4b39;
    color: white;
}

.panelAgregar{
    box-shadow: 0;
    border: 1px solid #002142;
}
