.htitle{
    color: #2d3235 ;
    margin-top: 70px;
}

.btn-plantilla{
    background: #2db8eb;
    color: white;
}

.btn-plantilla2{
    background: #fc8d44;
    color: white;
    margin-left: 10px;
}

.encabezado{
    background-color: #002142;
    color: white;
}