.btn-plantilla{
    background: #2db8eb;
    color: white;
    margin-bottom: 5%;
}

.btn-plantilla2{
    background: #fc8d44;
    color: white;
    margin-left: 10px;
}

.btn-plantilla3{
    background: #2db8eb;
    color: white;
    margin-left: 10px;
}


.htitle{
    color: #2d3235 ;
    margin-top: 70px;
}

.htitle2{
    color: #2d3235 ;
    margin-top: 70px;
    margin-left: 10px;
}

.encabezado{
    background: #002142;
    color: white;
}

.btn-horario{
    background: #3c8dbc;
    color: white;
}

.btn-vaca{
    background: #fc8d44;
    color: white;
}

.acciones{
    width: 300px;
}

.btn-regresar{
    font-size: 14px;
    color: #002142;
    margin-left: 10px;
}

.base{
    background-color: white;
    margin-left: 20px;
    margin-right: 40px ;
}

.container{
    width: 100% !important;
}

.colDatos{
    background-color: white;
    margin-left: 20%;
    width: 60%;
    padding: 20px;
}

.rowDatos{
    margin-left: 10px;
    margin-right: 10px;
}

label{
    color: black;
}

.doming{
    background: #fc8d44;
    width: 50%;
    padding: 10px;
}

td{
    color: black;
}

th{
    color: black;
}